@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Argentina Script;
    src: url("./fonts/Argentina Script.ttf");
}

@font-face {
    font-family: Roboto-Light;
    src: url("./fonts/roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: Roboto-LightItalic;
    src: url("./fonts/roboto/Roboto-LightItalic.ttf");
}
@font-face {
    font-family: Walkway SemiBold;
    src: url("./fonts/pageTitle/Walkway SemiBold.ttf");
}
@font-face {
    font-family: Chopin-Light;
    src: url("./fonts/Chopin-Light.ttf");
}
@font-face {
    font-family: Walkway Expand SemiBold;
    src: url("./fonts/pageTitle/Walkway Expand SemiBold.ttf");
}
@font-face {
    font-family: GeosansLight;
    src: url("./fonts/GeosansLight.ttf");
}

@layer components {
    .content-allPages {
        @apply h-8/10 w-8.5/10 max-w-1150px flex overflow-hidden mainGradient
        backdrop-blur-xl backdrop-brightness-85 bg-slate-200/30
        shadow-mainShadow rounded-3xl border-1 border-slate-100/50;
    }

    .fadingLineBlack {
        @apply before:content-[""] before:w-full before:h-0.5 
        before:bg-gradient-to-r before:from-transparent before:via-slate-900 before:to-transparent
        before:top-full;
    }
    .fadingLineWhite {
        @apply before:content-[""] before:w-full before:h-0.5 
        before:bg-gradient-to-r before:from-transparent before:via-slate-200 before:to-transparent
        before:top-full;
    }

    .bb {
        @apply border-1 border-black;
    }
    .bbb {
        @apply border-2 border-black;
    }
    .bbbb {
        @apply border-4 border-black;
    }
    .bw {
        @apply border-1 border-white;
    }
    .br {
        @apply border-1 border-red-400;
    }
    .brr {
        @apply border-2 border-red-400;
    }

    .mainGradient {
        background-image: linear-gradient(
            to right top,
            rgba(220, 185, 135, 0.3),
            rgba(223, 188, 145, 0.3),
            rgba(226, 194, 159, 0.3),
            rgba(228, 201, 172, 0.3),
            rgba(229, 207, 185, 0.3),
            rgba(223, 210, 190, 0.3),
            rgba(219, 213, 196, 0.3),
            rgba(216, 215, 202, 0.3),
            rgba(207, 213, 204, 0.3),
            rgba(201, 211, 205, 0.3),
            rgba(199, 208, 206, 0.3),
            rgba(198, 204, 205, 0.3)
        );
    }

    .gradient {
        background-color: #ffffff;
        background-image: linear-gradient(160deg, #ffffff 0%, #deeff8 54%, #ffffff 100%);
    }

    .thumbnail-link {
        background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    }
}

@layer utilities {
    .no-scrollbar::webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .kontakPage-rain {
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    }
    .bg {
        background: rgb(213, 224, 234);
        background: radial-gradient(circle at 50% 10%, #e2e6e9 0%, rgb(151, 175, 195) 100%);
    }

    .kontakPage-heavyRain {
        background-image: linear-gradient(to top, #bbcdd8 0%, rgba(226, 235, 240, 0.3) 100%);
    }
}

:root {
    /* ----- Schrift-Arten ----- */
    --font-primary: Roboto-Light, "Inter";
    --font-secondary: Walkway SemiBold, "Inter";
    --font-tertiary: Chopin-Light, "Inter";
    --font-quaternary: Walkway Expand SemiBold, "Inter";

    --font-headerTitle: Argentina Script, "Inter";
    --font-geosans: GeosansLight, "Inter";

    /* ----- Schrift-Farben ----- */
    --primary: "#1c2022";
    --primary2: rgb(49, 57, 60);
    --secondary: "#5d5d5d";
    --bright: #dbdde4;

    /* ----- Schrift-Größen ----- */
    --size-regular: "var(--step-05)";

    --background: #ffffff;
    --foreground: #171717;

    --primary: #1b262c;
    --secondary_hex: #0f4c75;
    --secondary_rgba: rgba(15, 76, 117, 0.7);
    --tertiary: #3282b8;
    --quaternary: #bbe1fa;

    --lineHeight-lineBreaks: 2;
    --lineHeight-standard: 1.4;
    --lineHeight-navItems: 1.6;

    /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.414,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

    --step--2: clamp(0.6252rem, 0.7185rem + -0.1204vw, 0.6944rem);
    --step--1: clamp(0.8333rem, 0.8157rem + 0.0881vw, 0.884rem);
    --step-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
    --step-1: clamp(1.08rem, 0.9023rem + 0.8883vw, 1.5908rem);
    --step-2: clamp(1.296rem, 0.9644rem + 1.658vw, 2.2493rem);
    --step-3: clamp(1.5552rem, 0.9898rem + 2.8267vw, 3.1805rem);
    --step-4: clamp(1.8662rem, 0.9511rem + 4.5757vw, 4.4973rem);
    --step-5: clamp(2.2395rem, 0.8066rem + 7.1646vw, 6.3591rem);
    --step-6: clamp(2.66rem, 0.65rem + 10.36vw, 8.56rem);

    --aside-width: clamp(150px, 4.88vw + 105px, 208px);

    /* NEW half-steps (smaller) */
    --step--075: clamp(0.8667rem, 0.8187rem + 0.2397vw, 1.0045rem);
    --step--05: clamp(0.9rem, 0.8217rem + 0.3913vw, 1.125rem);

    /* NEW half-steps (bigger) */
    --step-025: clamp(1.02rem, 0.911rem + 0.5474vw, 1.34rem);
    --step-05: clamp(1.04rem, 0.91rem + 0.66vw, 1.43rem); /* between --step-0 & --step-1 */
    --step-15: clamp(1.19rem, 0.93rem + 1.27vw, 1.92rem); /* between --step-1 & --step-2 */
    --step-25: clamp(1.46rem, 0.97rem + 2.24vw, 2.71rem); /* between --step-2 & --step-3 */
    --step-35: clamp(1.71rem, 0.97rem + 3.68vw, 3.84rem); /* between --step-3 & --step-4 */
    --step-45: clamp(2.01rem, 0.9rem + 5.87vw, 5.49rem); /* between --step-4 & --step-5 */
    --step-55: clamp(2.45rem, 0.73rem + 8.76vw, 7.46rem);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    min-height: 100svh;
    border: 1px dashed red;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-family: var(--font-secondary, Arial, Helvetica, sans-serif);
    font-size: var(--step-1); */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

aside {
    width: var(--aside-width);
}

h1 {
    font-size: var(--step-5);
}

#titleLonni {
    font-size: var(--step-4);
    line-height: 1.2;
}

h2 {
    font-size: var(--step-4);
}
h3 {
    font-size: var(--step-3);
}
h4 {
    font-size: var(--step-2);
}
h5 {
    font-size: var(--step-1);
}

p {
    font-size: var(--size-default);
}

.flowText > * + * {
    margin-top: 0.5em;
}
.flowTextAndLastChild > * + * {
    margin-top: 0.75em;
}

.flowTextAndLastChild > :last-child {
    margin-top: 2em;
}

a {
    color: inherit;
    text-decoration: none;
}

#startpage-navItems a {
    padding: 1em;
    display: grid;
    place-items: center;
    text-align: center;

    font-size: var(--step-01);
    line-height: var(--lineHeight-navItems);

    border-radius: 1em;
    border: 1px solid white;
    background-color: rgb(215, 215, 215);
}

#startpage-navItems a:hover {
    background-color: rgb(194, 194, 194);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#startpage-navItems :nth-child(4),
:nth-child(5) {
    width: min(120px, 130x);
}

img {
    max-width: 100%;
    display: block;
}

[role="list"] {
}

.resizeInfo {
    position: absolute;
    top: 10px;
    right: 10px;

    width: fit-content;
    color: red;
}

.border {
    border: 2px solid darkgrey;
}

.border-dashed {
    border: 2px dashed lightgrey;
}
