@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Calinastiya;
    src: url("./fonts/Calinastiya.ttf");
}

@font-face {
    font-family: adelia;
    src: url("./fonts/adelia.ttf");
}

@font-face {
    font-family: Blacksword;
    src: url("./fonts/Blacksword.otf");
}
@font-face {
    font-family: Argentina Script;
    src: url("./fonts/Argentina Script.ttf");
}
@font-face {
    font-family: Andrea;
    src: url("./fonts/Andrea.ttf");
}
@font-face {
    font-family: AquilineTwo;
    src: url("./fonts/AquilineTwo.ttf");
}

@layer components {
    .content-allPages {
        @apply h-8/10 w-8.5/10 max-w-1150px flex overflow-hidden mainGradient
        backdrop-blur-xl backdrop-brightness-85 bg-slate-200/30
        shadow-mainShadow rounded-3xl border-1 border-slate-100/50;
    }

    .fadingLineBlack {
        @apply before:content-[""] before:w-full before:h-0.5 
        before:bg-gradient-to-r before:from-transparent before:via-slate-900 before:to-transparent
        before:top-full;
    }
    .fadingLineWhite {
        @apply before:content-[""] before:w-full before:h-0.5 
        before:bg-gradient-to-r before:from-transparent before:via-slate-200 before:to-transparent
        before:top-full;
    }

    .bb {
        @apply border-1 border-slate-300;
    }
    .bbb {
        @apply border-4 border-slate-800;
    }
    .bw {
        @apply border-1 border-white;
    }
    .br {
        @apply border-1 border-red-400;
    }

    .mainGradient {
        background-image: linear-gradient(
            to right top,
            rgba(220, 185, 135, 0.3),
            rgba(223, 188, 145, 0.3),
            rgba(226, 194, 159, 0.3),
            rgba(228, 201, 172, 0.3),
            rgba(229, 207, 185, 0.3),
            rgba(223, 210, 190, 0.3),
            rgba(219, 213, 196, 0.3),
            rgba(216, 215, 202, 0.3),
            rgba(207, 213, 204, 0.3),
            rgba(201, 211, 205, 0.3),
            rgba(199, 208, 206, 0.3),
            rgba(198, 204, 205, 0.3)
        );
    }
}

:root {
    --background: #ffffff;
    --foreground: #171717;

    --primary: #1b262c;
    --secondary_hex: #0f4c75;
    --secondary_rgba: rgba(15, 76, 117, 0.7);
    --tertiary: #3282b8;
    --quaternary: #bbe1fa;

    --landigpage_titleFont: "Calinastiya";

    --lineHeight-lineBreaks: 2;
    --lineHeight-standard: 1.4;
    --lineHeight-navItems: 1.6;

    /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.414,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

    --step--2: clamp(0.6252rem, 0.7185rem + -0.1204vw, 0.6944rem);
    --step--1: clamp(0.8333rem, 0.8157rem + 0.0881vw, 0.884rem);
    --step--01: clamp(0.9rem, 0.8217rem + 0.3913vw, 1.125rem);
    --step-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
    --step-1: clamp(1.08rem, 0.9023rem + 0.8883vw, 1.5908rem);
    --step-2: clamp(1.296rem, 0.9644rem + 1.658vw, 2.2493rem);
    --step-3: clamp(1.5552rem, 0.9898rem + 2.8267vw, 3.1805rem);
    --step-4: clamp(1.8662rem, 0.9511rem + 4.5757vw, 4.4973rem);
    --step-5: clamp(2.2395rem, 0.8066rem + 7.1646vw, 6.3591rem);

    --aside-width: clamp(150px, 4.88vw + 105px, 208px);
}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    min-height: 100svh;
    border: 1px dashed red;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* line-height: 1.4; */
}

aside {
    width: var(--aside-width);
}

h1 {
    font-size: var(--step-5);
}

#titleLonni {
    font-size: var(--step-4);
    line-height: 1.2;
}

h2 {
    font-size: var(--step-4);
}
h3 {
    font-size: var(--step-3);
}
h4 {
    font-size: var(--step-2);
}
h5 {
    font-size: var(--step-1);
}

p {
    font-size: var(--step--01);
}
.flowText > * + * {
    margin-top: 0.75em;
}
.flowTextAndLastChild > * + * {
    margin-top: 0.75em;
}

.flowTextAndLastChild > :last-child {
    margin-top: 2em;
}

a {
    color: inherit;
    text-decoration: none;
}

#startpage-navItems a {
    padding: 1em;
    display: grid;
    place-items: center;
    text-align: center;

    font-size: var(--step-01);
    line-height: var(--lineHeight-navItems);

    border-radius: 1em;
    border: 1px solid white;
    background-color: rgb(215, 215, 215);
}

#startpage-navItems a:hover {
    background-color: rgb(194, 194, 194);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#startpage-navItems :nth-child(4),
:nth-child(5) {
    width: min(120px, 130x);
}

img {
    max-width: 100%;
    display: block;
}

[role="list"] {
}

.resizeInfo {
    position: absolute;
    top: 10px;
    right: 10px;

    width: fit-content;
    color: red;
}

.border {
    border: 2px solid darkgrey;
}

.border-dashed {
    border: 2px dashed lightgrey;
}
